[0;1;31m●[0m docusaurus.service - By Merlin
     Loaded: loaded (/etc/systemd/system/docusaurus.service; enabled; vendor preset: enabled)
     Active: [0;1;31mfailed[0m (Result: exit-code) since Wed 2023-04-26 08:34:02 UTC; 16s ago
    Process: 443780 ExecStart=/root/bin/docusaurus.sh [0;1;31m(code=exited, status=1/FAILURE)[0m
   Main PID: 443780 (code=exited, status=1/FAILURE)

Apr 26 08:34:02 support docusaurus.sh[443811]:     at async Object.loadContent (/var/www/knowledge/onepointcollab/node_modules/@docusaurus/plugin-content-docs/lib/index.js:121:33)
Apr 26 08:34:02 support docusaurus.sh[443811]:     at async /var/www/knowledge/onepointcollab/node_modules/@docusaurus/core/lib/server/plugins/index.js:35:25
Apr 26 08:34:02 support docusaurus.sh[443811]:     at async Promise.all (index 0)
Apr 26 08:34:02 support docusaurus.sh[443811]:     at async loadPlugins (/var/www/knowledge/onepointcollab/node_modules/@docusaurus/core/lib/server/plugins/index.js:34:27)
Apr 26 08:34:02 support docusaurus.sh[443811]:     at async load (/var/www/knowledge/onepointcollab/node_modules/@docusaurus/core/lib/server/index.js:76:58)
Apr 26 08:34:02 support docusaurus.sh[443811]:     at async Command.start (/var/www/knowledge/onepointcollab/node_modules/@docusaurus/core/lib/commands/start.js:44:19)
Apr 26 08:34:02 support docusaurus.sh[443811]: [INFO] Docusaurus version: 2.4.0
Apr 26 08:34:02 support docusaurus.sh[443811]: Node version: v16.20.0
Apr 26 08:34:02 support systemd[1]: [0;1;39m[0;1;31m[0;1;39mdocusaurus.service: Main process exited, code=exited, status=1/FAILURE[0m
Apr 26 08:34:02 support systemd[1]: [0;1;38;5;185m[0;1;39m[0;1;38;5;185mdocusaurus.service: Failed with result 'exit-code'.[0m
