{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://core-pl.ocplanet.cloud"
    },
    {
      "url": "https://core.ocplanet.cloud"
    }
  ],
  "description": "Default server",
  "info": {
    "title": "OpenAPI OneCloudPlanet",
    "version": "1.0.0",
    "description": "\n# Introduction\nWelcome to the API documentation for OneCloudPlanet services. This API is documented in OpenAPI format. Explore the following sections to gain comprehensive insights into the functionalities and capabilities offered by our platform.\n\n **Authentication** tokens are used instead of passwords and are handy when using OneCloudPlanet API from scripts or other software that you write and interacts with OneCloudPlanet.\nYou can  make simple GET, POST, PUT or DELETE HTTP requests by using curl.\nMake sure you include the authorization header as curl parameter:\n- 'Authorization: OpenAPIToken {Token}'\n\n  **Sections:**\n  - **Instances :** Dive into the world of Virtual Private Servers, covering instance creation, management, and configuration.\n\n  - **Networks:** Explore Virtual Private Cloud (VPC) features, including network creation, subnet configuration, and security settings.\n\n  - **Routers:** Manage and optimize routing settings for your infrastructure.\n\n  - **Zones (DNS):** Gain insights into Domain Name System (DNS) functionalities, managing DNS zones and domain settings.\n\n  - **Floating IPs:** Allocate, associate, and manage floating IP addresses for flexible network configurations.\n\n  - **SSH Keys:** Manage Secure Shell (SSH) keys for secure access to instances and services.\n\n  Explore the detailed descriptions, endpoints, features, and examples provided in each section to make the most of our hosting services.\n  Through a GET request with create_options, data about the service options is obtained before ordering it. You can see what the characteristics may be. These options contain all need data which must be specified when you will use POST/PUT requests.\n"
  },
  "tags": [
    {
      "name": "Instances",
      "description": "The \"Instances\" section covers everything related to Virtual Private Servers. Users can create, manage, and monitor their instances, customize configurations, and explore features for efficient virtualization.\nThrough a GET request with create_options, data about the service options is obtained before ordering it. You can see what the characteristics may be. These options contain all need data which must be specified when you will use POST/PUT requests.\n"
    },
    {
      "name": "Networks",
      "description": "The \"Networks\" section provides detailed information on Virtual Private Cloud (VPC) functionalities. Users can create and manage networks, define subnets, and configure security settings for optimal network architecture.\nThrough a GET request with create_options, data about the service options is obtained before ordering it. You can see what the characteristics may be. These options contain all need data which must be specified when you will use POST/PUT requests.\n"
    },
    {
      "name": "Security groups",
      "description": "The \"Security groups\" section provides tools for managing security policies. Users can define and apply security group rules to control inbound and outbound traffic, enhancing the overall security posture.\n"
    },
    {
      "name": "Routers",
      "description": "The \"Routers\" section focuses on router management, allowing users to configure and optimize routing settings for their infrastructure.\nThrough a GET request with create_options, data about the service options is obtained before ordering it. You can see what the characteristics may be. These options contain all need data which must be specified when you will use POST/PUT requests.\n"
    },
    {
      "name": "Floating IPs",
      "description": "The \"Floating IPs\" section explores functionalities related to floating IP addresses. Users can allocate, associate, and manage floating IPs to achieve flexible and scalable network configurations.\nThrough a GET request with create_options, data about the service options is obtained before ordering it. You can see what the characteristics may be. These options contain all need data which must be specified when you will use POST/PUT requests.\n"
    },
    {
      "name": "SSH Keys",
      "description": "The \"SSH Keys\" section focuses on Secure Shell (SSH) key management. Users can add, remove, and manage SSH keys for secure access to instances and services.\nThrough a GET request with create_options, data about the service options is obtained before ordering it. You can see what the characteristics may be. These options contain all need data which must be specified when you will use POST/PUT requests.\n"
    },
    {
      "name": "Zones (DNS)",
      "description": "The \"Zones (DNS)\" section covers Domain Name System (DNS) functionalities. Users can manage DNS zones, configure domain settings, and ensure seamless domain resolution for their services.\nThrough a GET request with create_options, data about the service options is obtained before ordering it. You can see what the characteristics may be. These options contain all need data which must be specified when you will use POST/PUT requests.\n"
    },
    {
      "name": "My Images",
      "description": "The \"My images\" section provides users with the ability to manage custom images. Users can create, upload, and manage custom images for efficient deployment and scaling.\nThrough a GET request with create_options, data about the service options is obtained before ordering it. You can see what the characteristics may be. These options must be specified when using POST/PUT requests.\n"
    },
    {
      "name": "Load balancers",
      "description": ""
    },
    {
      "name": "Kubernetes",
      "description": ""
    },
    {
      "name": "Security groups",
      "description": ""
    },
    {
      "name": "Another",
      "description": ""
    }
  ],
  "x-tagGroups": [
    {
      "name": "Cloud",
      "tags": [
        "Instances",
        "Networks",
        "Routers",
        "Floating IPs",
        "SSH Keys",
        "Zones (DNS)",
        "Load balancers",
        "Kubernetes",
        "Security groups"
      ]
    }
  ],
  "components": {
    "schemas": {
      "InstanceCreate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "flavor": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "availability_zone": {
            "type": "null"
          },
          "operation_id": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "flavor",
          "region",
          "availability_zone",
          "operation_id"
        ]
      },
      "InstanceCreateBadRequest": {
        "properties": {
          "name": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "boot_source": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "flavor": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "region": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "boot_source",
          "flavor",
          "region"
        ],
        "type": "object"
      },
      "InstanceCreateBody": {
        "properties": {
          "boot_source": {
            "properties": {
              "cinder_az": {
                "oneOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "create_new_volume": {
                "type": "boolean"
              },
              "delete_on_termination": {
                "type": "boolean"
              },
              "source_id": {
                "type": "string"
              },
              "source_type": {
                "type": "string"
              },
              "volume_size": {
                "type": "string",
                "description": "This value specified of GB."
              }
            },
            "required": [
              "source_id",
              "source_type"
            ],
            "type": "object"
          },
          "client": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ]
          },
          "flavor": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "nics": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "region": {
            "type": "string"
          },
          "tags": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "root_password": {
            "type": "string"
          },
          "ssh_keys": {
            "type": "string"
          }
        },
        "required": [
          "tags",
          "flavor",
          "name",
          "nics",
          "region",
          "root_password",
          "boot_source"
        ],
        "type": "object"
      },
      "InstanceReboot": {
        "properties": {
          "detail": {
            "type": "string"
          }
        },
        "required": [
          "detail"
        ],
        "type": "object"
      },
      "FloatingIP": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "floating_network": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "region": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "name",
              "description",
              "region"
            ]
          },
          "port": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "name"
                ]
              }
            ]
          },
          "router": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "name"
                ]
              }
            ]
          },
          "associated_object": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "name": {
                    "type": "string"
                  },
                  "device_type": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "name",
                  "device_type"
                ]
              }
            ]
          },
          "floating_ip_address": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "fixed_ip_address": {
            "type": "null"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "project": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "floating_network",
          "port",
          "router",
          "associated_object",
          "floating_ip_address",
          "status",
          "description",
          "fixed_ip_address",
          "created_at",
          "updated_at",
          "project"
        ],
        "type": "object"
      },
      "FloatingIPs": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "next": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "previous": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "objects": {
            "items": {
              "$ref": "#/components/schemas/FloatingIP"
            },
            "type": "array"
          },
          "totalCount": {
            "type": "integer"
          },
          "pageNo": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ]
          },
          "permissions": {
            "type": "object",
            "properties": {
              "floatingips.list": {
                "type": "boolean"
              },
              "floatingips.retrieve": {
                "type": "boolean"
              },
              "floatingips.create": {
                "type": "boolean"
              },
              "floatingips.destroy": {
                "type": "boolean"
              }
            },
            "required": [
              "floatingips.list",
              "floatingips.retrieve",
              "floatingips.create",
              "floatingips.destroy"
            ]
          },
          "filter_options": {
            "type": "object",
            "properties": {
              "status": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "display": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "display",
                    "value"
                  ]
                }
              }
            },
            "required": [
              "status"
            ]
          }
        },
        "required": [
          "count",
          "next",
          "previous",
          "objects",
          "totalCount",
          "pageNo",
          "permissions",
          "filter_options"
        ]
      },
      "AddFloatingIP": {
        "properties": {
          "fixed_ip": {
            "type": "string",
            "description": "Fixed IP specified in ports."
          },
          "floating_ip": {
            "type": "string"
          }
        },
        "required": [
          "floating_ip",
          "fixed_ip"
        ],
        "type": "object"
      },
      "BaseInstance": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "allowed_actions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "access_ip": {
            "type": "string"
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "created": {
            "type": "string"
          },
          "display_status": {
            "type": "string"
          },
          "display_task": {
            "type": "null"
          },
          "description": {
            "type": "null"
          },
          "image": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "tags": {
                "type": "array"
              },
              "client": {
                "type": "null"
              },
              "properties": {
                "type": "object",
                "properties": {
                  "owner_specified.openstack.md5": {
                    "type": "string"
                  },
                  "owner_specified.openstack.sha256": {
                    "type": "string"
                  },
                  "owner_specified.openstack.object": {
                    "type": "string"
                  },
                  "os_hidden": {
                    "type": "boolean"
                  },
                  "os_hash_algo": {
                    "type": "string"
                  },
                  "os_hash_value": {
                    "type": "string"
                  },
                  "stores": {
                    "type": "string"
                  }
                },
                "required": [
                  "fleio_default_image_username",
                  "hw_qemu_guest_agent",
                  "os_glance_importing_to_stores",
                  "os_glance_failed_import",
                  "os_hidden",
                  "os_hash_algo",
                  "os_hash_value",
                  "stores"
                ]
              },
              "is_iso": {
                "type": "boolean"
              },
              "display_name": {
                "type": "string"
              },
              "cleanup_date": {
                "type": "null"
              },
              "assigned_to_flavor": {
                "type": "boolean"
              },
              "related_instance": {
                "type": "boolean"
              },
              "name": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "size": {
                "type": "integer"
              },
              "created_at": {
                "type": "string"
              },
              "updated_at": {
                "type": "string"
              },
              "deleted_at": {
                "type": "null"
              },
              "os_distro": {
                "type": "string"
              },
              "hypervisor_type": {
                "type": "null"
              },
              "os_version": {
                "type": "string"
              },
              "architecture": {
                "type": "null"
              },
              "min_disk": {
                "type": "integer"
              },
              "min_ram": {
                "type": "integer"
              },
              "protected": {
                "type": "boolean"
              },
              "visibility": {
                "type": "string"
              },
              "container_format": {
                "type": "string"
              },
              "disk_format": {
                "type": "string"
              },
              "hw_qemu_guest_agent": {
                "type": "boolean"
              },
              "instance_uuid": {
                "type": "null"
              },
              "volume_snapshot_uuid": {
                "type": "null"
              },
              "region": {
                "type": "string"
              },
              "reseller_resources": {
                "type": "null"
              },
              "used_by_resellers": {
                "type": "array"
              }
            },
            "required": [
              "id",
              "tags",
              "client",
              "properties",
              "is_iso",
              "display_name",
              "cleanup_date",
              "assigned_to_flavor",
              "related_instance",
              "name",
              "type",
              "status",
              "size",
              "created_at",
              "updated_at",
              "deleted_at",
              "os_distro",
              "hypervisor_type",
              "os_version",
              "architecture",
              "min_disk",
              "min_ram",
              "protected",
              "visibility",
              "container_format",
              "disk_format",
              "hw_qemu_guest_agent",
              "instance_uuid",
              "volume_snapshot_uuid",
              "region",
              "reseller_resources",
              "used_by_resellers",
              "floating_ips",
              "tags"
            ]
          },
          "region": {
            "type": "string"
          },
          "region_obj": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "description": {
                "type": "string"
              },
              "enabled": {
                "type": "boolean"
              },
              "enable_volumes": {
                "type": "boolean"
              },
              "enable_snapshots": {
                "type": "boolean"
              },
              "is_default": {
                "type": "boolean"
              }
            },
            "required": [
              "id",
              "description",
              "enabled",
              "enable_volumes",
              "enable_snapshots",
              "is_default"
            ]
          },
          "flavor": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "memory_gb": {
                "type": "number",
                "format": "float"
              },
              "flavor_group": {
                "type": "null"
              },
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "memory_mb": {
                "type": "integer"
              },
              "vcpus": {
                "type": "integer"
              },
              "swap": {
                "type": "integer"
              },
              "root_gb": {
                "type": "integer"
              },
              "ephemeral_gb": {
                "type": "integer"
              },
              "out_of_stock": {
                "type": "boolean"
              },
              "properties": {
                "type": "string"
              },
              "region": {
                "type": "string"
              },
              "reseller_resources": {
                "type": "null"
              },
              "assigned_cluster_templates": {
                "type": "array"
              },
              "used_by_resellers": {
                "type": "array"
              }
            },
            "required": [
              "id",
              "memory_gb",
              "flavor_group",
              "name",
              "description",
              "memory_mb",
              "vcpus",
              "swap",
              "root_gb",
              "ephemeral_gb",
              "out_of_stock",
              "properties",
              "region",
              "reseller_resources",
              "assigned_cluster_templates",
              "used_by_resellers"
            ]
          },
          "status": {
            "type": "string"
          },
          "booted_from_iso": {
            "type": "boolean"
          },
          "locked": {
            "type": "boolean"
          },
          "current_cycle_traffic": {
            "type": "integer"
          },
          "current_month_traffic": {
            "type": "integer"
          },
          "hostId": {
            "type": "string"
          },
          "host_name": {
            "type": "string"
          },
          "availability_zone": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "allowed_actions",
          "access_ip",
          "uuid",
          "created",
          "display_status",
          "display_task",
          "description",
          "image",
          "region",
          "region_obj",
          "flavor",
          "status",
          "booted_from_iso",
          "locked",
          "current_cycle_traffic",
          "current_month_traffic",
          "hostId",
          "host_name",
          "availability_zone",
          "tags"
        ]
      },
      "Instance": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseSubnet"
          },
          {
            "type": "object",
            "properties": {
              "floating_ips": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "floating_ip_address": {
                      "type": "string"
                    }
                  }
                }
              },
              "access_subnet_id": {
                "type": "string"
              }
            },
            "required": [
              "access_subnet_id",
              "floating_ips"
            ]
          }
        ]
      },
      "InstanceDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseSubnet"
          },
          {
            "type": "object",
            "properties": {
              "net_details": {
                "properties": {
                  "grouped_ips": {
                    "items": {
                      "properties": {
                        "ipv4s": {
                          "items": {
                            "properties": {
                              "ip_address": {
                                "type": "string"
                              },
                              "subnet_id": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "ip_address",
                              "subnet_id"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "ipv6s": {
                          "items": {
                            "properties": {
                              "ip_address": {
                                "type": "string"
                              },
                              "subnet_id": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "ip_address",
                              "subnet_id"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "network_name": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "network_name",
                        "ipv4s",
                        "ipv6s"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "ports": {
                    "items": {
                      "properties": {
                        "end_user_has_access": {
                          "type": "boolean"
                        },
                        "floating_ips": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "floating_ip_address": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "id": {
                          "type": "string"
                        },
                        "ipv4s": {
                          "items": {
                            "properties": {
                              "ip_address": {
                                "type": "string"
                              },
                              "subnet_id": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "ip_address",
                              "subnet_id"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "ipv6s": {
                          "items": {
                            "properties": {
                              "ip_address": {
                                "type": "string"
                              },
                              "subnet_id": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "ip_address",
                              "subnet_id"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "name": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "network": {
                          "type": "string",
                          "format": "uuid"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "network",
                        "ipv4s",
                        "ipv6s",
                        "floating_ips",
                        "end_user_has_access"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  }
                },
                "required": [
                  "grouped_ips",
                  "ports"
                ],
                "type": "object"
              },
              "project": {
                "type": "string"
              },
              "storage_details": {
                "properties": {
                  "hide_local_storage": {
                    "type": "boolean"
                  },
                  "local_storage": {
                    "type": "integer"
                  },
                  "volume_attachments": {
                    "type": "array"
                  }
                },
                "required": [
                  "hide_local_storage",
                  "local_storage",
                  "volume_attachments"
                ],
                "type": "object"
              },
              "traffic_type": {
                "type": "string"
              }
            },
            "required": [
              "net_details",
              "project",
              "storage_details",
              "traffic_type"
            ]
          }
        ]
      },
      "Instances": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "next": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "previous": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "objects": {
            "items": {
              "$ref": "#/components/schemas/Instance"
            },
            "type": "array"
          },
          "totalCount": {
            "type": "integer"
          },
          "pageNo": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ]
          },
          "permissions": {
            "type": "object",
            "properties": {
              "instances.list": {
                "type": "boolean"
              },
              "instances.retrieve": {
                "type": "boolean"
              },
              "instances.create": {
                "type": "boolean"
              },
              "instances.abort-migrate": {
                "type": "boolean"
              },
              "instances.attach-volume": {
                "type": "boolean"
              },
              "instances.change-password": {
                "type": "boolean"
              },
              "instances.confirm-resize": {
                "type": "boolean"
              },
              "instances.create_snapshot": {
                "type": "boolean"
              },
              "instances.detach_volume": {
                "type": "boolean"
              },
              "instances.destroy": {
                "type": "boolean"
              },
              "instances.attach_port": {
                "type": "boolean"
              },
              "instances.detach_port": {
                "type": "boolean"
              },
              "instances.lock": {
                "type": "boolean"
              },
              "instances.migrate": {
                "type": "boolean"
              },
              "instances.move": {
                "type": "boolean"
              },
              "instances.reboot": {
                "type": "boolean"
              },
              "instances.rebuild": {
                "type": "boolean"
              },
              "instances.rename": {
                "type": "boolean"
              },
              "instances.rescue": {
                "type": "boolean"
              },
              "instances.boot_from_iso": {
                "type": "boolean"
              },
              "instances.reset-state": {
                "type": "boolean"
              },
              "instances.resize": {
                "type": "boolean"
              },
              "instances.resume": {
                "type": "boolean"
              },
              "instances.revert-resize": {
                "type": "boolean"
              },
              "instances.start": {
                "type": "boolean"
              },
              "instances.stop": {
                "type": "boolean"
              },
              "instances.shelve": {
                "type": "boolean"
              },
              "instances.suspend": {
                "type": "boolean"
              },
              "instances.unlock": {
                "type": "boolean"
              },
              "instances.unrescue": {
                "type": "boolean"
              },
              "instances.unshelve": {
                "type": "boolean"
              },
              "instances.dissociate_security_group": {
                "type": "boolean"
              },
              "instances.associate_security_group": {
                "type": "boolean"
              },
              "instances.create_backup": {
                "type": "boolean"
              },
              "instances.add_floating_ip": {
                "type": "boolean"
              },
              "instances.remove_floating_ip": {
                "type": "boolean"
              }
            },
            "required": [
              "instances.list",
              "instances.retrieve",
              "instances.create",
              "instances.abort-migrate",
              "instances.attach-volume",
              "instances.change-password",
              "instances.confirm-resize",
              "instances.create_snapshot",
              "instances.detach_volume",
              "instances.destroy",
              "instances.attach_port",
              "instances.detach_port",
              "instances.lock",
              "instances.migrate",
              "instances.move",
              "instances.reboot",
              "instances.rebuild",
              "instances.rename",
              "instances.rescue",
              "instances.boot_from_iso",
              "instances.reset-state",
              "instances.resize",
              "instances.resume",
              "instances.revert-resize",
              "instances.start",
              "instances.stop",
              "instances.shelve",
              "instances.suspend",
              "instances.unlock",
              "instances.unrescue",
              "instances.unshelve",
              "instances.dissociate_security_group",
              "instances.associate_security_group",
              "instances.create_backup",
              "instances.add_floating_ip",
              "instances.remove_floating_ip"
            ]
          },
          "filter_options": {
            "type": "object",
            "properties": {
              "task_state": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "display": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "display",
                    "value"
                  ]
                }
              },
              "status": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "display": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "display",
                    "value"
                  ]
                }
              },
              "availability_zone": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "display": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "display",
                    "value"
                  ]
                }
              },
              "project__service__client__status": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "display": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "display",
                    "value"
                  ]
                }
              },
              "project__service__status": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "display": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "display",
                    "value"
                  ]
                }
              }
            },
            "required": [
              "task_state",
              "status",
              "availability_zone",
              "project__service__client__status",
              "project__service__status"
            ]
          },
          "operations": {
            "type": "array"
          }
        },
        "required": [
          "count",
          "next",
          "previous",
          "objects",
          "totalCount",
          "pageNo",
          "permissions",
          "filter_options",
          "operations"
        ]
      },
      "InstanceImage": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "format": "uuid"
            },
            "tags": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "client": {
              "type": "null"
            },
            "properties": {
              "type": "object",
              "properties": {
                "owner_specified.openstack.md5": {
                  "type": "string"
                },
                "owner_specified.openstack.sha256": {
                  "type": "string"
                },
                "owner_specified.openstack.object": {
                  "type": "string"
                },
                "hw_qemu_guest_agent": {
                  "type": "string"
                },
                "os_hidden": {
                  "type": "boolean"
                },
                "os_hash_algo": {
                  "type": "string"
                },
                "os_hash_value": {
                  "type": "string"
                },
                "stores": {
                  "type": "string"
                }
              },
              "required": [
                "hw_qemu_guest_agent"
              ]
            },
            "is_iso": {
              "type": "boolean"
            },
            "display_name": {
              "type": "string"
            },
            "cleanup_date": {
              "type": "null"
            },
            "assigned_to_flavor": {
              "type": "boolean"
            },
            "related_instance": {
              "type": "boolean"
            },
            "name": {
              "type": "string"
            },
            "type": {
              "type": "string"
            },
            "status": {
              "type": "string"
            },
            "size": {
              "type": "integer"
            },
            "created_at": {
              "type": "string"
            },
            "updated_at": {
              "type": "string"
            },
            "deleted_at": {
              "type": "null"
            },
            "os_distro": {
              "type": "string"
            },
            "hypervisor_type": {
              "type": "null"
            },
            "os_version": {
              "type": "string"
            },
            "architecture": {
              "type": "null"
            },
            "min_disk": {
              "type": "integer"
            },
            "min_ram": {
              "type": "integer"
            },
            "protected": {
              "type": "boolean"
            },
            "visibility": {
              "type": "string"
            },
            "container_format": {
              "type": "string"
            },
            "disk_format": {
              "type": "string"
            },
            "hw_qemu_guest_agent": {
              "type": "boolean"
            },
            "instance_uuid": {
              "type": "null"
            },
            "volume_snapshot_uuid": {
              "type": "null"
            },
            "region": {
              "type": "string"
            },
            "reseller_resources": {
              "type": "null"
            },
            "used_by_resellers": {
              "type": "array"
            }
          },
          "required": [
            "id",
            "tags",
            "client",
            "properties",
            "is_iso",
            "display_name",
            "cleanup_date",
            "assigned_to_flavor",
            "related_instance",
            "name",
            "type",
            "status",
            "size",
            "created_at",
            "updated_at",
            "deleted_at",
            "os_distro",
            "hypervisor_type",
            "os_version",
            "architecture",
            "min_disk",
            "min_ram",
            "protected",
            "visibility",
            "container_format",
            "disk_format",
            "hw_qemu_guest_agent",
            "instance_uuid",
            "volume_snapshot_uuid",
            "region",
            "reseller_resources",
            "used_by_resellers"
          ]
        }
      },
      "InstanceCreateOptions": {
        "type": "object",
        "properties": {
          "bootSources": {
            "type": "object",
            "properties": {
              "image": {
                "$ref": "#/components/schemas/InstanceImage"
              },
              "owned_image": {
                "type": "array"
              },
              "shared_image": {
                "type": "array"
              },
              "community_image": {
                "type": "array"
              },
              "volume": {
                "type": "array"
              },
              "volume_snapshot": {
                "type": "array"
              },
              "volume_types": {
                "type": "array",
                "items": {
                  "type": "object",
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "sizeIncrement": {
                    "type": "integer"
                  },
                  "minimumSize": {
                    "type": "integer"
                  }
                }
              },
              "requested_boot_source": {
                "type": "boolean"
              }
            },
            "required": [
              "image",
              "owned_image",
              "shared_image",
              "community_image",
              "volume",
              "volume_snapshot",
              "volume_types",
              "requested_boot_source"
            ]
          },
          "flavor": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "memory_gb": {
                  "type": "number",
                  "format": "float"
                },
                "flavor_group": {
                  "type": "null"
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "memory_mb": {
                  "type": "integer"
                },
                "vcpus": {
                  "type": "integer"
                },
                "swap": {
                  "type": "integer"
                },
                "root_gb": {
                  "type": "integer"
                },
                "ephemeral_gb": {
                  "type": "integer"
                },
                "out_of_stock": {
                  "type": "boolean"
                },
                "properties": {
                  "type": "string"
                },
                "region": {
                  "type": "string"
                },
                "reseller_resources": {
                  "type": "null"
                },
                "assigned_cluster_templates": {
                  "type": "array"
                },
                "used_by_resellers": {
                  "type": "array"
                }
              },
              "required": [
                "id",
                "memory_gb",
                "flavor_group",
                "flavor_id",
                "name",
                "description",
                "memory_mb",
                "vcpus",
                "swap",
                "root_gb",
                "ephemeral_gb",
                "out_of_stock",
                "properties",
                "region",
                "reseller_resources",
                "assigned_cluster_templates",
                "used_by_resellers"
              ]
            }
          },
          "ssh_key": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                },
                "public_key": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string"
                },
                "fingerprint": {
                  "type": "string"
                },
                "user": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "email": {
                      "type": "string"
                    },
                    "full_name": {
                      "type": "string"
                    },
                    "display": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "email",
                    "full_name",
                    "display"
                  ]
                }
              },
              "required": [
                "id",
                "name",
                "public_key",
                "created_at",
                "fingerprint",
                "user"
              ]
            }
          },
          "nics": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                },
                "tags": {
                  "type": "array"
                }
              },
              "required": [
                "id",
                "name",
                "tags"
              ]
            }
          },
          "availability_zones": {
            "type": "array"
          },
          "cinder_az": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "enable_volumes": {
            "type": "boolean"
          },
          "enable_snapshots": {
            "type": "boolean"
          },
          "hide_volume_az": {
            "type": "boolean"
          },
          "region": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "description"
              ]
            }
          },
          "selected_region": {
            "type": "string"
          },
          "client": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "display": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "name",
              "display"
            ]
          }
        },
        "required": [
          "bootSources",
          "flavor",
          "ssh_key",
          "nics",
          "availability_zones",
          "cinder_az",
          "enable_volumes",
          "enable_snapshots",
          "hide_volume_az",
          "region",
          "selected_region",
          "client"
        ]
      },
      "ImageToRescue": {
        "properties": {
          "architecture": {
            "type": [
              "null",
              "string"
            ]
          },
          "assigned_to_flavor": {
            "type": "boolean"
          },
          "cleanup_date": {
            "type": "null"
          },
          "client": {
            "properties": {
              "display": {
                "type": "string"
              },
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "name",
              "display"
            ],
            "type": [
              "object",
              "null"
            ]
          },
          "container_format": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "deleted_at": {
            "type": "null"
          },
          "disk_format": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "hw_qemu_guest_agent": {
            "type": "boolean"
          },
          "hypervisor_type": {
            "type": [
              "null",
              "string"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "instance_uuid": {
            "type": [
              "null",
              "string"
            ]
          },
          "is_iso": {
            "type": "boolean"
          },
          "min_disk": {
            "type": "integer"
          },
          "min_ram": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "os_distro": {
            "type": "string"
          },
          "os_version": {
            "type": "string"
          },
          "properties": {
            "properties": {
              "hw_qemu_guest_agent": {
                "type": "string"
              },
              "os_hash_algo": {
                "type": "string"
              },
              "os_hash_value": {
                "type": "string"
              },
              "os_hidden": {
                "type": "boolean"
              },
              "owner_specified.openstack.md5": {
                "type": "string"
              },
              "owner_specified.openstack.object": {
                "type": "string"
              },
              "owner_specified.openstack.sha256\n": {
                "type": "string"
              },
              "stores": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "protected": {
            "type": "boolean"
          },
          "region": {
            "type": "string"
          },
          "related_instance": {
            "anyOf": [
              {
                "type": "null"
              },
              {
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "name"
                ],
                "type": "object"
              }
            ]
          },
          "reseller_resources": {
            "type": "null"
          },
          "size": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "tags": {
            "type": "array"
          },
          "type": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "used_by_resellers": {
            "type": "array"
          },
          "visibility": {
            "type": "string"
          },
          "volume_snapshot_uuid": {
            "type": "null"
          }
        },
        "required": [
          "id",
          "tags",
          "client",
          "properties",
          "is_iso",
          "display_name",
          "cleanup_date",
          "assigned_to_flavor",
          "related_instance",
          "name",
          "type",
          "status",
          "size",
          "created_at",
          "updated_at",
          "deleted_at",
          "os_distro",
          "hypervisor_type",
          "os_version",
          "architecture",
          "min_disk",
          "min_ram",
          "protected",
          "visibility",
          "container_format",
          "disk_format",
          "hw_qemu_guest_agent",
          "instance_uuid",
          "volume_snapshot_uuid",
          "region",
          "reseller_resources",
          "used_by_resellers"
        ],
        "type": "object"
      },
      "InstanceToRescue": {
        "properties": {
          "access_ip": {
            "type": "string"
          },
          "access_subnet_id": {
            "type": "string"
          },
          "allowed_actions": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "availability_zone": {
            "type": "string"
          },
          "booted_from_iso": {
            "type": "boolean"
          },
          "created": {
            "type": "string"
          },
          "current_cycle_traffic": {
            "type": "integer"
          },
          "current_month_traffic": {
            "type": "integer"
          },
          "description": {
            "type": "null"
          },
          "display_status": {
            "type": "string"
          },
          "display_task": {
            "type": "null"
          },
          "flavor": {
            "properties": {
              "assigned_cluster_templates": {
                "type": "array"
              },
              "description": {
                "type": "string"
              },
              "ephemeral_gb": {
                "type": "integer"
              },
              "flavor_group": {
                "type": "null"
              },
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "memory_gb": {
                "type": "integer"
              },
              "memory_mb": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "out_of_stock": {
                "type": "boolean"
              },
              "properties": {
                "type": "string"
              },
              "region": {
                "type": "string"
              },
              "reseller_resources": {
                "type": "null"
              },
              "root_gb": {
                "type": "integer"
              },
              "swap": {
                "type": "integer"
              },
              "used_by_resellers": {
                "type": "array"
              },
              "vcpus": {
                "type": "integer"
              }
            },
            "required": [
              "id",
              "memory_gb",
              "flavor_group",
              "name",
              "description",
              "memory_mb",
              "vcpus",
              "swap",
              "root_gb",
              "ephemeral_gb",
              "out_of_stock",
              "properties",
              "region",
              "reseller_resources",
              "assigned_cluster_templates",
              "used_by_resellers"
            ],
            "type": "object"
          },
          "hostId": {
            "type": "string",
            "format": "uuid"
          },
          "host_name": {
            "type": "string"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "image": {
            "properties": {
              "architecture": {
                "type": "null"
              },
              "assigned_to_flavor": {
                "type": "boolean"
              },
              "cleanup_date": {
                "type": "null"
              },
              "client": {
                "type": "null"
              },
              "container_format": {
                "type": "string"
              },
              "created_at": {
                "type": "string"
              },
              "deleted_at": {
                "type": "null"
              },
              "disk_format": {
                "type": "string"
              },
              "display_name": {
                "type": "string"
              },
              "hw_qemu_guest_agent": {
                "type": "boolean"
              },
              "hypervisor_type": {
                "type": "null"
              },
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "instance_uuid": {
                "type": "null"
              },
              "is_iso": {
                "type": "boolean"
              },
              "min_disk": {
                "type": "integer"
              },
              "min_ram": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "os_distro": {
                "type": "string"
              },
              "os_version": {
                "type": "string"
              },
              "properties": {
                "properties": {
                  "hw_qemu_guest_agent": {
                    "type": "string"
                  },
                  "os_hash_algo": {
                    "type": "string"
                  },
                  "os_hash_value": {
                    "type": "string"
                  },
                  "os_hidden": {
                    "type": "boolean"
                  },
                  "owner_specified.openstack.md5": {
                    "type": "string"
                  },
                  "owner_specified.openstack.object": {
                    "type": "string"
                  },
                  "owner_specified.openstack.sha256": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "protected": {
                "type": "boolean"
              },
              "region": {
                "type": "string"
              },
              "related_instance": {
                "type": "null"
              },
              "reseller_resources": {
                "type": "null"
              },
              "size": {
                "type": "integer"
              },
              "status": {
                "type": "string"
              },
              "tags": {
                "type": "array"
              },
              "type": {
                "type": "string"
              },
              "updated_at": {
                "type": "string"
              },
              "used_by_resellers": {
                "type": "array"
              },
              "visibility": {
                "type": "string"
              },
              "volume_snapshot_uuid": {
                "type": "null"
              }
            },
            "required": [
              "id",
              "tags",
              "client",
              "properties",
              "is_iso",
              "display_name",
              "cleanup_date",
              "assigned_to_flavor",
              "related_instance",
              "name",
              "type",
              "status",
              "size",
              "created_at",
              "updated_at",
              "deleted_at",
              "os_distro",
              "hypervisor_type",
              "os_version",
              "architecture",
              "min_disk",
              "min_ram",
              "protected",
              "visibility",
              "container_format",
              "disk_format",
              "hw_qemu_guest_agent",
              "instance_uuid",
              "volume_snapshot_uuid",
              "region",
              "reseller_resources",
              "used_by_resellers"
            ],
            "type": "object"
          },
          "locked": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "region_obj": {
            "properties": {
              "description": {
                "type": "string"
              },
              "enable_snapshots": {
                "type": "boolean"
              },
              "enable_volumes": {
                "type": "boolean"
              },
              "enabled": {
                "type": "boolean"
              },
              "id": {
                "type": "string"
              },
              "is_default": {
                "type": "boolean"
              }
            },
            "required": [
              "id",
              "description",
              "enabled",
              "enable_volumes",
              "enable_snapshots",
              "is_default"
            ],
            "type": "object"
          },
          "status": {
            "type": "string"
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          }
        },
        "tags": {
          "type": "array",
          "items": {
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "required": [
          "id",
          "name",
          "tags",
          "allowed_actions",
          "access_ip",
          "uuid",
          "created",
          "display_status",
          "display_task",
          "description",
          "image",
          "region",
          "region_obj",
          "flavor",
          "status",
          "booted_from_iso",
          "locked",
          "current_cycle_traffic",
          "current_month_traffic",
          "hostId",
          "host_name",
          "access_subnet_id",
          "availability_zone"
        ],
        "type": "object"
      },
      "AddTag": {
        "properties": {
          "name": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "InstanceTags": {
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer"
            },
            "name": {
              "type": "string"
            }
          },
          "required": [
            "id",
            "name"
          ]
        },
        "type": "array"
      },
      "NetworkCreate": {
        "properties": {
          "admin_state_up": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "region": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "admin_state_up",
          "region",
          "description"
        ],
        "type": "object"
      },
      "BaseSubnet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "allocation_pools": {
            "type": "array"
          },
          "cidr": {
            "type": "string"
          },
          "dns_nameservers": {
            "type": "array"
          },
          "host_routes": {
            "type": "array"
          },
          "gateway_ip": {
            "type": "null"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "null"
          },
          "subnetpool_id": {
            "type": "null"
          },
          "ip_version": {
            "type": "integer"
          },
          "enable_dhcp": {
            "type": "boolean"
          },
          "created_at": {
            "type": "null"
          },
          "updated_at": {
            "type": "null"
          },
          "project": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "id",
          "allocation_pools",
          "cidr",
          "dns_nameservers",
          "host_routes",
          "gateway_ip",
          "name",
          "description",
          "subnetpool_id",
          "ip_version",
          "enable_dhcp",
          "created_at",
          "updated_at",
          "project"
        ]
      },
      "UpdateSubnetResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseSubnet"
          },
          {
            "type": "object",
            "properties": {
              "sync_version": {
                "type": "integer"
              },
              "extra": {
                "type": "string"
              },
              "network": {
                "type": "string"
              }
            },
            "required": [
              "sync_version",
              "extra",
              "network"
            ]
          }
        ]
      },
      "UpdateSubnetRequest": {
        "properties": {
          "allocation_pools": {
            "items": {
              "properties": {
                "end": {
                  "type": "string"
                },
                "start": {
                  "type": "string"
                }
              },
              "required": [
                "start",
                "end"
              ],
              "type": "object"
            },
            "type": "array"
          },
          "cidr": {
            "type": "string"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "dns_nameservers": {
            "type": "array",
            "items": {
              "type": "objects",
              "properties": {
                "ip": "string"
              },
              "required": [
                "ip"
              ]
            }
          },
          "host_routes": {
            "type": "array"
          },
          "network_mask": {
            "type": "integer"
          },
          "ipv6_ra_mode": {
            "type": [
              "null",
              "string"
            ]
          },
          "ipv6_address_mode": {
            "type": [
              "null",
              "string"
            ]
          },
          "enable_dhcp": {
            "type": "boolean"
          },
          "gateway_ip": {
            "type": "string"
          },
          "ip_version": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "network_address_source": {
            "type": "string"
          },
          "network_id": {
            "type": "string"
          },
          "setGatewayIp": {
            "type": "string"
          }
        },
        "required": [
          "cidr",
          "enable_dhcp",
          "name",
          "network_id",
          "network_address_source",
          "ip_version",
          "allocation_pools",
          "setGatewayIp",
          "gateway_ip"
        ],
        "type": "object"
      },
      "CreateSubnetResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseSubnet"
          },
          {
            "type": "object",
            "properties": {
              "ipv6_ra_mode": {
                "type": [
                  "null",
                  "string"
                ]
              },
              "ipv6_address_mode": {
                "type": [
                  "null",
                  "string"
                ]
              }
            },
            "required": [
              "ipv6_ra_mode",
              "ipv6_address_mode"
            ]
          }
        ]
      },
      "CreateSubnetRequest": {
        "properties": {
          "allocation_pools": {
            "type": "array"
          },
          "dns_nameservers": {
            "type": "array"
          },
          "cidr": {
            "type": "string"
          },
          "enable_dhcp": {
            "type": "boolean"
          },
          "ip_version": {
            "type": "integer"
          },
          "ipv6_address_mode": {
            "type": [
              "null",
              "string"
            ]
          },
          "ipv6_ra_mode": {
            "type": "null"
          },
          "name": {
            "type": "string"
          },
          "network_address_source": {
            "type": "string"
          },
          "network_id": {
            "type": "string",
            "format": "uuid"
          },
          "network_mask": {
            "type": [
              "integer",
              "string"
            ]
          },
          "setGatewayIp": {
            "type": [
              "boolean",
              "string"
            ]
          },
          "host_routes": {
            "type": "array"
          }
        },
        "required": [
          "allocation_pools",
          "dns_nameservers",
          "cidr",
          "enable_dhcp",
          "name",
          "network_id",
          "network_address_source",
          "ip_version"
        ],
        "type": "object"
      },
      "SubnetCreateOptional": {
        "properties": {
          "ipv6_modes": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "pools": {
            "items": {
              "properties": {
                "default_prefixlen": {
                  "type": "integer"
                },
                "id": {
                  "type": "string"
                },
                "ip_version": {
                  "type": "integer"
                },
                "is_default": {
                  "type": "boolean"
                },
                "max_prefixlen": {
                  "type": "integer"
                },
                "min_prefixlen": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                },
                "prefixes": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "required": [
                "id",
                "name",
                "prefixes",
                "default_prefixlen",
                "min_prefixlen",
                "max_prefixlen",
                "ip_version",
                "is_default"
              ],
              "type": "object"
            },
            "type": "array"
          }
        },
        "required": [
          "pools",
          "ipv6_modes"
        ],
        "type": "object"
      },
      "CreateRouterResponse": {
        "properties": {
          "admin_state_up": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "external_network_id": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "region": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "external_network_id",
          "admin_state_up",
          "region"
        ],
        "type": "object"
      },
      "CreateRouterRequest": {
        "properties": {
          "admin_state_up": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "external_network_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "region": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "description",
          "region",
          "external_network_id",
          "admin_state_up"
        ],
        "type": "object"
      },
      "RouterPermission": {
        "properties": {
          "routers.add_interface": {
            "type": "boolean"
          },
          "routers.create": {
            "type": "boolean"
          },
          "routers.destroy": {
            "type": "boolean"
          },
          "routers.list": {
            "type": "boolean"
          },
          "routers.remove_interface": {
            "type": "boolean"
          },
          "routers.retrieve": {
            "type": "boolean"
          },
          "routers.update": {
            "type": "boolean"
          }
        },
        "required": [
          "routers.list",
          "routers.retrieve",
          "routers.create",
          "routers.update",
          "routers.destroy",
          "routers.add_interface",
          "routers.remove_interface"
        ],
        "type": "object"
      },
      "CreateSSHKeyResponse": {
        "properties": {
          "created_at": {
            "type": "string"
          },
          "fingerprint": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "public_key": {
            "type": "string"
          },
          "user": {
            "properties": {
              "display": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "full_name": {
                "type": "string"
              },
              "id": {
                "type": "integer"
              }
            },
            "required": [
              "id",
              "email",
              "full_name",
              "display"
            ],
            "type": "object"
          }
        },
        "required": [
          "id",
          "name",
          "public_key",
          "created_at",
          "fingerprint",
          "user"
        ],
        "type": "object"
      },
      "CreateSSHKeyRequest": {
        "properties": {
          "name": {
            "type": "string"
          },
          "private_key": {
            "type": "string"
          },
          "public_key": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "private_key",
          "public_key"
        ],
        "type": "object"
      },
      "SSHKey": {
        "properties": {
          "created_at": {
            "type": "string"
          },
          "fingerprint": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "public_key": {
            "type": "string"
          },
          "user": {
            "properties": {
              "display": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "full_name": {
                "type": "string"
              },
              "id": {
                "type": "integer"
              }
            },
            "required": [
              "id",
              "email",
              "full_name",
              "display"
            ],
            "type": "object"
          }
        },
        "required": [
          "id",
          "name",
          "public_key",
          "created_at",
          "fingerprint",
          "user"
        ],
        "type": "object"
      },
      "ListOfSSHKeys": {
        "properties": {
          "count": {
            "type": "integer"
          },
          "next": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "previous": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "objects": {
            "items": {
              "$ref": "#/components/schemas/SSHKey"
            },
            "type": "array"
          },
          "totalCount": {
            "type": "integer"
          },
          "pageNo": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ]
          },
          "permissions": {
            "properties": {
              "publickeys.create": {
                "type": "boolean"
              },
              "publickeys.destroy": {
                "type": "boolean"
              },
              "publickeys.list": {
                "type": "boolean"
              },
              "publickeys.retrieve": {
                "type": "boolean"
              },
              "publickeys.update": {
                "type": "boolean"
              }
            },
            "required": [
              "publickeys.list",
              "publickeys.retrieve",
              "publickeys.create",
              "publickeys.update",
              "publickeys.destroy"
            ],
            "type": "object"
          }
        },
        "required": [
          "count",
          "next",
          "previous",
          "objects",
          "totalCount",
          "pageNo",
          "permissions"
        ],
        "type": "object"
      },
      "CreateFloatingIpResponse": {
        "properties": {
          "description": {
            "type": "string"
          },
          "floating_network": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "floating_network",
          "description"
        ],
        "type": "object"
      },
      "CreateFloatingIpRequest": {
        "properties": {
          "description": {
            "type": "string"
          },
          "floating_network": {
            "type": "string"
          },
          "region": {
            "type": "string"
          }
        },
        "required": [
          "floating_network",
          "description",
          "region"
        ],
        "type": "object"
      },
      "FloatingIPsCreateOptions": {
        "properties": {
          "default_region": {
            "type": "string"
          },
          "networks": {
            "items": {
              "properties": {
                "description": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "region": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "name",
                "region",
                "description"
              ],
              "type": "object"
            },
            "type": "array"
          },
          "regions": {
            "items": {
              "properties": {
                "description": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "is_default": {
                  "type": "boolean"
                }
              },
              "required": [
                "id",
                "description",
                "is_default"
              ],
              "type": "object"
            },
            "type": "array"
          }
        },
        "required": [
          "networks",
          "regions",
          "default_region"
        ],
        "type": "object"
      },
      "FloatingIPsPrice": {
        "properties": {
          "estimated_cost_display": {
            "type": "string"
          }
        },
        "required": [
          "estimated_cost_display"
        ],
        "type": "object"
      },
      "Router": {
        "properties": {
          "id": {
            "type": "string"
          },
          "routes": {
            "type": "array"
          },
          "availability_zones": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "availability_hints": {
            "type": "array"
          },
          "network_name": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "admin_state_up": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "external_network_id": {
            "type": "string",
            "format": "uuid"
          },
          "external_fixed_ips": {
            "type": "string"
          },
          "enable_snat": {
            "type": "boolean"
          },
          "distributed": {
            "type": "boolean"
          },
          "ha": {
            "type": "boolean"
          },
          "region": {
            "type": "string"
          },
          "project": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "id",
          "admin_state_up",
          "external_fixed_ips",
          "enable_snat",
          "availability_zones",
          "availability_hints",
          "distributed",
          "ha",
          "routes"
        ],
        "type": "object"
      },
      "Routers": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "next": {
            "type": "null"
          },
          "previous": {
            "type": "null"
          },
          "objects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Router"
            }
          },
          "totalCount": {
            "type": "integer"
          },
          "pageNo": {
            "type": "string"
          },
          "permissions": {
            "type": "object",
            "properties": {
              "routers.list": {
                "type": "boolean"
              },
              "routers.retrieve": {
                "type": "boolean"
              },
              "routers.create": {
                "type": "boolean"
              },
              "routers.update": {
                "type": "boolean"
              },
              "routers.destroy": {
                "type": "boolean"
              },
              "routers.add_interface": {
                "type": "boolean"
              },
              "routers.remove_interface": {
                "type": "boolean"
              }
            },
            "required": [
              "routers.list",
              "routers.retrieve",
              "routers.create",
              "routers.update",
              "routers.destroy",
              "routers.add_interface",
              "routers.remove_interface"
            ]
          },
          "filter_options": {
            "type": "object",
            "properties": {
              "status": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "display": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "display",
                    "value"
                  ]
                }
              },
              "availability_zones__contains": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "display": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "display",
                    "value"
                  ]
                }
              }
            },
            "required": [
              "status",
              "availability_zones__contains"
            ]
          }
        },
        "required": [
          "count",
          "next",
          "previous",
          "objects",
          "totalCount",
          "pageNo",
          "permissions",
          "filter_options"
        ]
      },
      "RouterDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Router"
          },
          {
            "type": "object",
            "properties": {
              "network_name": {
                "type": "string"
              },
              "interfaces": {
                "type": "array",
                "items": {
                  "type": "objects",
                  "properties": {
                    "admin_state_up": {
                      "type": "boolean"
                    },
                    "fixed_ips": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ip_address": {
                            "type": "string"
                          },
                          "subnet_id": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "ip_address",
                          "subnet_id"
                        ]
                      }
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "network_name": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "network_name",
                    "admin_state_up",
                    "fixed_ips"
                  ]
                }
              }
            }
          }
        ]
      },
      "RouterUpdate": {
        "properties": {
          "admin_state_up": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "external_network_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "description",
          "external_network_id",
          "admin_state_up"
        ],
        "type": "object"
      },
      "CreateAddInterfaceOptions": {
        "properties": {
          "subnets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                },
                "network_name": {
                  "type": "string"
                },
                "cidr": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "name",
                "network_name",
                "cidr"
              ]
            }
          }
        },
        "required": [
          "subnets"
        ],
        "type": "object"
      },
      "RouterCreateOptions": {
        "properties": {
          "availability_zones": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "external_networks": {
            "items": {
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "region": {
                  "type": "string"
                }
              },
              "required": [
                "name",
                "id",
                "region"
              ],
              "type": "object"
            },
            "type": "array"
          },
          "has_hidden_regions": {
            "type": "boolean"
          },
          "regions": {
            "items": {
              "properties": {
                "description": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "description"
              ],
              "type": "object"
            },
            "type": "array"
          },
          "selected_region": {
            "type": "string"
          }
        },
        "required": [
          "regions",
          "has_hidden_regions",
          "external_networks",
          "selected_region",
          "availability_zones"
        ],
        "type": "object"
      },
      "Network": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "extra": {
            "type": "object",
            "properties": {
              "availability_zones": {
                "type": "array"
              }
            },
            "required": [
              "availability_zones"
            ]
          },
[...]
